.container{
    display: grid;
    justify-content: center;
    align-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    // margin-top: 5%;
    // margin-left: 25%;
    // width: 100%;
    // display: block;
    // box-sizing: border-box;
    // margin-right: auto;
    // padding-left: 16px;
    // padding-right: 16px;
}
.rccs{

}
.rccs__card__background{
    height: 0px;
}
hr{
    border:2px solid grey;
}

.input-field{
    margin: 20px;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}
.form{
    display: grid;
 
    box-shadow : 2px 1px 20px #9e9e92;
    background-color : white;
    padding-top : 6rem;
    padding: 1rem;
    border-radius: 25px;
   // width: 50em;
  //  height: 50em;
    text-align: center

}



h1{
    font-family: 'Roboto';
    font-size: "10px";
}

p{
    font-family: 'Roboto';
}

.containerImage{
    margin-top: 1em;
    display: grid;
   // grid-template-columns: repeat(2, 1fr);
   
    .min-img{ 
            
         justify-content: center!important;
        }
    
    
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5em;
}

.card-img
{
    margin-top: -5rem;
    margin-left: 7%;
    flex: auto;
    justify-content: center;
}


@media (max-width:639px){
    .container{
        margin-left: inherit;
        }

    .form{  
        min-width: auto;
        }
        
 
}

@media (max-width:800px){

    .container{
        display: grid;
        //        grid-template-columns: 1fr, 1fr ,1fr;
        //grid-template-rows: auto; 
        gap: 15px 10px;        
        place-items: center;
        align-content: space-around;
    
    }

   .items{
        display: grid;
        grid-template-columns: 1fr, 1fr ,1fr;
        margin:200 px;
   }

   .input-field{
    margin: 20px;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}

    
}




/* style={{"font-size": "1em","font-weight": "inherit","text-align": "center"}} */
/* style={{"font-size": "1em","font-weight": "inherit","text-align": "center"}} */
/* style={{"font-size": "10px", "text-align": "center"}} */