h1{
    font-family: 'Roboto';
    font-size: "10px";
}

p{
    font-family: 'Roboto';
}

.containerImage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5em;
}

/* style={{"font-size": "1em","font-weight": "inherit","text-align": "center"}} */
/* style={{"font-size": "1em","font-weight": "inherit","text-align": "center"}} */
/* style={{"font-size": "10px", "text-align": "center"}} */