body{
  background: #edf2f7;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

/* CARD STYLES */
.card-main {
  position: relative;
  width: 17rem;
  height: 15rem;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease all;
  background-image: linear-gradient(-90deg, purple, teal); 
  border-radius: 20px;
  

}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #fff;
  color: teal;
  cursor: pointer;
  transition: 0.5s ease all;
}
.front button:hover {
  opacity: 0.8;
  transform: scale(1.11);
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: green;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 20px;
}
.back button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #fff;
  color: green;
  cursor: pointer;
  transition: 0.5s ease all;
}
.c-holder{
width: 70%;
overflow-x: hidden
}
.animate-name{
  /* border: 2px solid #fff;
  border-radius: 10px; */
  animation: zoom 5s linear 6s;
  
  
}

@keyframes zoom {
0%{
transform:scale(5)
}
100%{
transform: scale(0) 
}
}
.flipped {
  transform: rotateY(180deg);
}

/* CARD STYLES END */
.d3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cv2 {
  width: 100%;
  margin-top: .5rem;
}
.cv2 input{
  width: 100%
}
.ccv2 {
  padding: 0.4rem .2rem;
}

.card-input {
  width: 100%;
}
.card-input input {
  width: 100%;
}
.mv-center {
  align-self: flex-end;
}
.btn{
  width: 100%;
  margin: 1.5rem 0;
}

@media screen and (min-width: 1126px) {
 

  .card-main {
    position: relative;
    width: 25rem;
    height: 15rem;
  }
  .d3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .mv-center {
    align-self: flex-end;
  }
  .cv2 {
    width: 40%;
  }
  

}
 @media screen and (min-width: 1000px) {
  .d3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
} 
